<!DOCTYPE html>
<html>

<head>
    <title>House Layout</title>
    <link rel="stylesheet" href="/css/room1.css">
    <style>
        #cover{
            width: 60%;
            background-color: white;
            height: 40%;
        }
        #puzzle{
            text-decoration: none;
            position: absolute;
            left: 20px;
            display: none;
        }
        #tunnel{
            border: 10px solid black;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="main-content">
        <div class="door-hor"></div>
        <div class="utility">
            <div class="door-hor"></div>
            <div class="name">Utility Room</div>
        </div>
        <div class="kitchen">
            <div class="ref"></div>
            <div class="rug"></div>
            <div class="cabinets">
                <div class="stove"></div>
            </div>
            <div class="sink">
                <div class="sink-tap-1"></div>
                <div class="sink-tap-2"></div>
            </div>
            <div class="island">
                <div class="chair"></div>
            </div>
            <div class="name">Kitchen</div>
        </div>
        <div class="bathroom-2">
            <div class="window-hor sliding-effect"></div>
            <div class="door-hor sliding-effect"></div>
            <div class="shower"></div>
            <div class="toilet"></div>
            <div class="vanity"></div>
            <div class="rug"></div>
            <div class="name">Bath #1</div>
        </div>
        <div class="bedroom-2">
            <div class="door-ver"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="bed-table"></div>
            <div class="bed">
                <div class="blanket sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
            </div>
            <div class="table"></div>
            <div class="name">Guest Bedroom</div>
        </div>
        <div class="living-room">
            <div class="rug"></div>
            <div class="window-ver "></div>
            <div class="sofa"></div>
            <div class="coffee-table"></div>
            <div class="tv-set"></div>
            <h1 style="margin-left: -50px; margin-top: 50px">ROOM 31</h1>
            <div class="name">Living Room</div>
        </div>
        <div class="bedroom-1">
            <div class="rug"></div>
            <div class="door-hor"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="bed">
                <div class="blanket sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
            </div>
            <div class="bed-table"></div>
            <div class="bed-table"></div>
            <div class="name">Master Bedroom</div>
        </div>
        <div class="closet">
            <div class="wall-gap"></div>
            <div class="name" id="cover" onclick="fun()"><a href="/tic-tac-toe" id="puzzle"><div id="tunnel"></div></a></div>
        </div>
        <div class="bathroom-1">
            <div class="door-ver"></div>
            <div class="door-ver"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="rug sliding-effect"></div>
            <div class="bathtub"></div>
            <div class="vanity"></div>
            <div class="toilet"></div>
            <div class="name">Bath #2</div>
        </div>
        <div class="office">
            <div class="door-hor"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="table"></div>
            <div class="name">home office</div>
        </div>
        <div class="patio">
            <div class="door-sliding sliding-effect"></div>
            <div class="real-patio">
                <div class="name">balcony</div>
            </div>
            <div class="patio-table"></div>
            <div class="patio-chair"></div>
            <div class="patio-chair"></div>
        </div>
        <script>
            function fun() {
                var ele = document.getElementById("puzzle");
                ele.style.display = "block";
            }
        </script>
        <script>
            // Get user info from express
            let room = 7
            fetch('/user-info')
                .then(response => response.json())
                .then(data => {
                    if (room != 1 && !data.cleared_rooms.includes(room.toString()))
                        window.location.href = "/password";
                });
        </script>
    </div>
</body>
</html>