<!DOCTYPE html>
<html>

<head>
    <title>House Layout</title>
    <link rel="stylesheet" href="/css/room1.css">
    <style>
        #mypara{
            position: absolute;
            top:10px;
            right: 30px;
            z-index: -1;
        }
        #link1{
            position: absolute;
            top: 8px;
            z-index: -1;
        }
        #link2{
            width: 100%;
            height: 100%;
            position: block;
            background-color: lightpink;
        }
        #anch{
            z-index: -1;
            position: absolute;
            top: 2px;
            text-decoration: none;
        }   
    </style>
</head>

<body>
    <div class="main-content">
        <div class="door-hor"></div>
        <div class="utility">
            <div class="door-hor"></div>
            <div class="name">Utility Room</div>
        </div>
        <div class="kitchen">
            <div class="ref"></div>
            <div class="rug"></div>
            <div class="cabinets">
                <div class="stove"></div>
            </div>
            <div class="sink">
                <div class="sink-tap-1"></div>
                <div class="sink-tap-2"></div>
            </div>
            <div class="island">
                <div class="chair"></div>
            </div>
            <div class="name">Kitchen</div>
        </div>
        <div class="bathroom-2">
            <div class="window-hor sliding-effect"></div>
            <div class="door-hor sliding-effect"></div>
            <div class="shower"></div>
            <div class="toilet"></div>
            <div class="vanity"></div>
            <div class="rug"></div>
            <div class="name">Bath #1</div>
        </div>
        <div class="bedroom-2">
            <div class="door-ver"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="bed-table"></div>
            <div class="bed">
                <div class="blanket sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
            </div>
            <div class="table"></div>
            <div class="name">Guest Bedroom</div>
        </div>
        <div class="living-room">
            <div class="rug"></div>
            <div class="window-ver"></div>
            <div class="sofa" onclick="myfunc()"><div id="mypara">get 3:5</div></div>
            <div class="coffee-table"></div>
            <div class="tv-set" id="myDiv"></div>
            <h1 style="margin-left: -50px; margin-top: 50px">ROOM 30</h1>
            <div class="name">Living Room</div>
        </div>
        <div class="bedroom-1">
            <div class="rug"></div>
            <div class="door-hor"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="bed">
                <div class="blanket sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
                <div class="pillow sliding-effect"></div>
            </div>
            
            <div class="bed-table reverse-sliding-effect"><div id="link2"></div><a href="room8.html" id="anch">32</a></div>
            <div class="bed-table reverse-sliding-effect"><a href="room9.html" id="link1">12</a></div>
            
            <div class="name">Master Bedroom</div>
        </div>
        <div class="closet">
            <div class="wall-gap"></div>
            <div class="name">Walk-in Closet</div>
        </div>
        <div class="bathroom-1">
            <div class="door-ver"></div>
            <div class="door-ver"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="rug sliding-effect"></div>
            <div class="bathtub"></div>
            <div class="vanity"></div>
            <div class="toilet"></div>
            <div class="name">Bath #2</div>
        </div>
        <div class="office">
            <div class="door-hor"></div>
            <div class="window-hor sliding-effect"></div>
            <div class="table"></div>
            <div class="name">home office</div>
        </div>
        <div class="patio">
            <div class="door-sliding sliding-effect"></div>
            <div class="real-patio">
                <div class="name">balcony</div>
            </div>
            <div class="patio-table"></div>
            <div class="patio-chair"></div>
            <div class="patio-chair"></div>
        </div>
    </div>
    <script>
        var div = document.getElementById("myDiv");
        var colors = ["white", "red", "purple", "yellow"];
        var currentIndex = 0;

        div.addEventListener("click", function () {
            currentIndex++;
            if (currentIndex > 3) {
                currentIndex = 0;
            }
            div.style.backgroundColor = colors[currentIndex];
        });
    </script>
    <script>
         function myfunc(){
            var ele = document.getElementById("mypara");
            ele.style.zIndex = 1;
            console.log(ele);
        }
        var elem = document.getElementById("link2");

        elem.addEventListener("mouseover", fun);
        function fun(){
            var ele = document.getElementById("anch");
            ele.style.zIndex = 2;
        }
    </script>
</body>

</html>
<!-- watch me -->