<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
</head>
<body>
    <div><h1>RULES</h1></div>
    <p>
        1. If You Feel like there is no password type none.<br>
        2. You can try to go in any room any number of time.<br>
        3. You can go only to the rooms already opened by you.<br>
        4. Try to find clues in all possible directions and part of the room.<br>
        5. It is not necessary that you will find the link to the next room in same room.<br>
        6. all passwords are in lower case.
        7. use all your senses. Take your time. Be Patient.
    </p>
    <h3>HAPPY GAMING...</h3>
</body>
</html>